<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bear_walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {227, 139}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{227, 139}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 299}, {227, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bear_walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {209, 139}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{209, 139}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 156}, {209, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bear_walk_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {209, 139}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{209, 139}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{629, 156}, {209, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bear_walk_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {209, 139}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{209, 139}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 299}, {209, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bear_walk_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {209, 139}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{209, 139}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 156}, {209, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bear_walk_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {205, 141}}</string>
			<key>spriteOffset</key>
			<string>{-10, -2}</string>
			<key>spriteSize</key>
			<string>{205, 141}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 156}, {205, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bear_walk_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {205, 137}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{205, 137}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 0}, {205, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bear_walk_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {213, 139}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{213, 139}</string>
			<key>spriteSourceSize</key>
			<string>{233, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 299}, {213, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grassbehind_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {960, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{960, 134}</string>
			<key>spriteSourceSize</key>
			<string>{960, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 440}, {960, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grassfront_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 80}, {960, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -40}</string>
			<key>spriteSize</key>
			<string>{960, 70}</string>
			<key>spriteSourceSize</key>
			<string>{960, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 576}, {960, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_armsup_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 13}, {100, 148}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{100, 148}</string>
			<key>spriteSourceSize</key>
			<string>{140, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 0}, {100, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 11}, {96, 146}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{96, 146}</string>
			<key>spriteSourceSize</key>
			<string>{140, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 0}, {96, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {132, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 152}</string>
			<key>spriteSourceSize</key>
			<string>{140, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 0}, {132, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {98, 152}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{98, 152}</string>
			<key>spriteSourceSize</key>
			<string>{140, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 0}, {98, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {92, 154}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{92, 154}</string>
			<key>spriteSourceSize</key>
			<string>{140, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 0}, {92, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {92, 154}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{92, 154}</string>
			<key>spriteSourceSize</key>
			<string>{140, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {92, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>monkeypics.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>monkeypics_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>monkeypics_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>